/* 
    GENERAL STYLING

*/


html {
    overflow: scroll;
}

html, body, form, main {
    height: 100%;
} 

body {
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 50%; */
    /* background-color:rgb(34, 34, 34); */
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll; /* Always show scrollbar */
    transition: all 0.3s;
}
/* remove bulma default padding for all sections */
.section {
    height: 100% !important;
    width: 100% !important;
    /* display:inline-block !important; use this for other pages if footer isn't 
    set on the bottom*/
    padding: 0 !important;
    /* make section take up page height so footer can be stuck to the bottom */
    /* min-height: calc(100vh - 4rem - 4rem); use this for other pages if footer isn't 
    set on the bottom*/
}

/* remove blinking caret on music controllers
hamburger menu spans */

/* i {
    caret-color: transparent;
} */

.my-bullet-points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 2rem;
    font-weight: bold;
}

.my-bullet-points > li {
    padding-bottom: 1rem;
}


.globe {
  display: inline-block;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  transform-style: preserve-3d;
  animation: spin 5s linear infinite;
}

.globe div {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1.5px solid rgb(2, 156, 2);
}

.lightTheme.globe div {
  position: absolute;
  inset: 0;
  border-radius: 50%;    
  border: 1.5px solid rgb(0, 8, 255);

}

/* shared grid line styles */
.darkTheme.globe div {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 1.5px solid rgb(41, 194, 255);
}

@media screen and (max-width: 1023px) {

	.globe div {
	  position: absolute;
	  inset: 0;
	  border-radius: 50%;
	  border: .75px solid rgb(2, 156, 2);
	}

	.lightTheme.globe div {
	  position: absolute;
	  inset: 0;
	  border-radius: 50%;    
	  border: .75px solid rgb(0, 8, 255);

	}	

	/* shared grid line styles */
	.darkTheme.globe div {
	  position: absolute;
	  inset: 0;
	  border-radius: 50%;
	  border: .75px solid rgb(41, 194, 255);
	}


}

/* latitude lines */
.lat:nth-child(1) { transform: rotateX(0deg); }
.lat:nth-child(2) { transform: rotateX(30deg); }
.lat:nth-child(3) { transform: rotateX(60deg); }
.lat:nth-child(4) { transform: rotateX(90deg); }
.lat:nth-child(5) { transform: rotateX(120deg); } 

/* longitude lines */
.lon:nth-child(6)  { transform: rotateY(0deg); }
.lon:nth-child(7)  { transform: rotateY(30deg); }
.lon:nth-child(8)  { transform: rotateY(60deg); }
.lon:nth-child(9)  { transform: rotateY(90deg); }
.lon:nth-child(10) { transform: rotateY(120deg); }
.lon:nth-child(11) { transform: rotateY(150deg); }

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
